Lab 2 - Information transfer with MQTT and HTTP using JSON/flows.json
[
    {
        "id": "a6f542e21913ec78",
        "type": "tab",
        "label": "Weather dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5def1a05c4e398d4",
        "type": "ui_form",
        "z": "a6f542e21913ec78",
        "name": "",
        "label": "",
        "group": "2082d5d7a03d1688",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "City",
                "value": "City",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Country_code",
                "value": "Country",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "City": "",
            "Country": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "fb9cc4bea6a74322"
            ]
        ]
    },
    {
        "id": "fb9cc4bea6a74322",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cfa0c9125db6e60c",
        "type": "inject",
        "z": "a6f542e21913ec78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "a56e88dca7aae9c5"
            ]
        ]
    },
    {
        "id": "a56e88dca7aae9c5",
        "type": "function",
        "z": "a6f542e21913ec78",
        "name": "function 1",
        "func": "var inp =global.get(\"input\")\n\nmsg = {\n    location: {\n        city    : inp.City,\n        country : inp.Country\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "35e80515c15f09eb"
            ]
        ]
    },
    {
        "id": "35e80515c15f09eb",
        "type": "openweathermap",
        "z": "a6f542e21913ec78",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "9bc135283a08faaa",
                "dcf2ba7503afe7ee",
                "968ff1abb08b248f",
                "933b803d71c616e0",
                "c1fc8ca11da06bc0",
                "014e712532d58f1c",
                "71cc7c32bc20b535",
                "cd48295cd3f47606",
                "efbcf65dfe14d9e6",
                "2ea868f0f223ab6d",
                "51e5604bf26fd181",
                "b34c51f807266a91"
            ]
        ]
    },
    {
        "id": "8170ec6d82ac4320",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature ",
        "format": "{{msg.payload}}째C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "9bc135283a08faaa",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "8170ec6d82ac4320"
            ]
        ]
    },
    {
        "id": "dcf2ba7503afe7ee",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Location",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.location",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 140,
        "wires": [
            [
                "7e8cc4098a020b3c"
            ]
        ]
    },
    {
        "id": "7e8cc4098a020b3c",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 140,
        "wires": []
    },
    {
        "id": "968ff1abb08b248f",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Temp max",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_maxc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 300,
        "wires": [
            [
                "f65299e82338968d"
            ]
        ]
    },
    {
        "id": "933b803d71c616e0",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Temp min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_minc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 380,
        "wires": [
            [
                "87102e8093ea7558"
            ]
        ]
    },
    {
        "id": "c1fc8ca11da06bc0",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            [
                "7be1314701385272"
            ]
        ]
    },
    {
        "id": "014e712532d58f1c",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 540,
        "wires": [
            [
                "f383cf2c1306a9c8"
            ]
        ]
    },
    {
        "id": "71cc7c32bc20b535",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Windspeed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.windspeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 620,
        "wires": [
            [
                "a67452128863419a"
            ]
        ]
    },
    {
        "id": "cd48295cd3f47606",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Direction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.winddirection",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 700,
        "wires": [
            [
                "3861ed6ed42ae8b0"
            ]
        ]
    },
    {
        "id": "efbcf65dfe14d9e6",
        "type": "change",
        "z": "a6f542e21913ec78",
        "d": true,
        "name": "Sunrise",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sunrise",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2ea868f0f223ab6d",
        "type": "change",
        "z": "a6f542e21913ec78",
        "d": true,
        "name": "Sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "51e5604bf26fd181",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Cloud coverage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.clouds",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 940,
        "wires": [
            [
                "ef3bdce2e9077724"
            ]
        ]
    },
    {
        "id": "b34c51f807266a91",
        "type": "change",
        "z": "a6f542e21913ec78",
        "name": "Current weather",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1020,
        "wires": [
            [
                "a2675ee1324b1b68"
            ]
        ]
    },
    {
        "id": "f65299e82338968d",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature - Max",
        "format": "{{msg.payload}}째C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "87102e8093ea7558",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature - Min",
        "format": "{{msg.payload}}째C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "7be1314701385272",
        "type": "ui_gauge",
        "z": "a6f542e21913ec78",
        "name": "",
        "group": "2082d5d7a03d1688",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#00e6cb",
            "#593acb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "f383cf2c1306a9c8",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "a67452128863419a",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Windspeed",
        "format": "{{msg.payload}} m/s",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 620,
        "wires": []
    },
    {
        "id": "3861ed6ed42ae8b0",
        "type": "ui_gauge",
        "z": "a6f542e21913ec78",
        "name": "",
        "group": "2082d5d7a03d1688",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Wind direction",
        "label": "",
        "format": "{{value}}째",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 700,
        "wires": []
    },
    {
        "id": "ef3bdce2e9077724",
        "type": "ui_gauge",
        "z": "a6f542e21913ec78",
        "name": "",
        "group": "2082d5d7a03d1688",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Cloud coverage",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 940,
        "wires": []
    },
    {
        "id": "a2675ee1324b1b68",
        "type": "ui_text",
        "z": "a6f542e21913ec78",
        "group": "2082d5d7a03d1688",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weather summary",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3a05e85de25910e8",
        "type": "ui_spacer",
        "z": "a6f542e21913ec78",
        "name": "spacer",
        "group": "2082d5d7a03d1688",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "4d18faaa3fc04dd7",
        "type": "ui_spacer",
        "z": "a6f542e21913ec78",
        "name": "spacer",
        "group": "2082d5d7a03d1688",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "2082d5d7a03d1688",
        "type": "ui_group",
        "name": "Weather data",
        "tab": "afc1dc5d88bc94fb",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afc1dc5d88bc94fb",
        "type": "ui_tab",
        "name": "Weather dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]