Node RED Workshop 2/flows.json
[
    {
        "id": "2dcb81cb7932ccf1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85edb805d91ba609",
        "type": "mqtt in",
        "z": "2dcb81cb7932ccf1",
        "name": "",
        "topic": "protocolpros/pot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f8b9417e57d9d5a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "568e5bde7d184c72",
                "9923c67f7db71846",
                "79a9be166c8f8820",
                "3c1dde468bdbd6d4"
            ]
        ]
    },
    {
        "id": "568e5bde7d184c72",
        "type": "debug",
        "z": "2dcb81cb7932ccf1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "9923c67f7db71846",
        "type": "ui_gauge",
        "z": "2dcb81cb7932ccf1",
        "name": "",
        "group": "5c9f055d77ff67c7",
        "order": 1,
        "width": 15,
        "height": 7,
        "gtype": "gage",
        "title": "Light intensity in gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "750",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "79a9be166c8f8820",
        "type": "function",
        "z": "2dcb81cb7932ccf1",
        "name": "Determining leds number",
        "func": "msg.payload = Math.trunc(msg.payload / 188)+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "6f59845ac637a2aa",
                "b6746c55a995a6d7",
                "8e1e5de7642bb64a"
            ]
        ]
    },
    {
        "id": "b6746c55a995a6d7",
        "type": "mqtt out",
        "z": "2dcb81cb7932ccf1",
        "name": "",
        "topic": "protocolpros/led/mcr",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8b9417e57d9d5a2",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f59845ac637a2aa",
        "type": "debug",
        "z": "2dcb81cb7932ccf1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "8e1e5de7642bb64a",
        "type": "ui_text",
        "z": "2dcb81cb7932ccf1",
        "group": "5c9f055d77ff67c7",
        "order": 4,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "LED count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "3c1dde468bdbd6d4",
        "type": "ui_chart",
        "z": "2dcb81cb7932ccf1",
        "name": "",
        "group": "5c9f055d77ff67c7",
        "order": 2,
        "width": 15,
        "height": 7,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "800",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d1884bebc7ef1317",
        "type": "ui_spacer",
        "z": "2dcb81cb7932ccf1",
        "name": "spacer",
        "group": "5c9f055d77ff67c7",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "bc49188a78d089e5",
        "type": "ui_spacer",
        "z": "2dcb81cb7932ccf1",
        "name": "spacer",
        "group": "5c9f055d77ff67c7",
        "order": 5,
        "width": 23,
        "height": 1
    },
    {
        "id": "f8b9417e57d9d5a2",
        "type": "mqtt-broker",
        "name": "Node_red session 2",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5c9f055d77ff67c7",
        "type": "ui_group",
        "name": "Light intensity",
        "tab": "15075a2d1ed24fa1",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "15075a2d1ed24fa1",
        "type": "ui_tab",
        "name": "Node_red session2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]